{% extends 'base_2.html' %}

{% block main %}
<div class="container mt-4">
    <h1>Item Basket</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for art in order.artworks %}
            <tr>
                <td><img src="{{url_for('static', filename=('img/' + art.image))}}" alt="Item Image"
                        class="img-thumbnail" style="max-width: 100px;">
                </td>
                <td>{{art.name}}</td>
                <td>{{art.description}}</td>
                <td>{{ "$%.2f"|format(art.price) }}</td>
                <td>
                    <form method="POST" action="{{url_for('main.deleteorderitem')}}">
                        <input type="hidden" id="id" name="id" value="{{art.id}}">
                        <input type="submit" value="Remove" class="btn btn-danger mb-3">
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td> </td>
                <td> </td>
                <td class="text-right"><b>Total Price</b></td>
                <td>{{ "$%.2f"|format(totalprice) }}</td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <a href="{{ url_for('main.checkout') }}" class="btn btn-warning">Checkout</a>
        <a href="{{ url_for('main.deleteorder') }}" class="btn btn-danger">Clear Basket</a>
    </div>
</div>

<section class="artwork-display" id="feature">
    <h4 class="border-bottom border-grey w-75 mx-auto heading text-center">Featured
        Items</h4>
    <div class="album py-5 bg-white">
        <div class="container">
            <div class="row">
                {% for card in f_artwork %}
                <div class="col-md-4 feature-card">
                    <a href="{{ url_for('main.productpage', artworkid=card.id) }}"
                        class="text-decoration-none text-dark">
                        <div class="card mb-4 shadow-sm rounded">
                            <img src="{{url_for('static', filename='img/'+card.image)}}" alt="place holder image"
                                class="buy-img">
                            <div class="card-body">
                                <h5 class="text-center text-dark">{{card.name}}</h5>
                                <blockquote class="blockquote">
                                    <p class="mb-0 text-secondary">{{card.description}}
                                    </p>
                                    <footer class="blockquote-footer text-right">
                                        <cite title="Source">{{card.artistName}}</cite>
                                    </footer>
                                </blockquote>
                                <div class="d-flex flex-column justify-content-center align-items-center">
                                    <div class="btn-group mb-3">
                                        <form action="{{ url_for('main.basket') }}">
                                            <input type="hidden" id="artwork_id" name="artwork_id"
                                                value="{{ card.id }}">
                                            <input class="btn btn-warning" type="submit" value="Add">
                                        </form>
                                    </div>
                                    <div class="rating d-block">
                                        {% for x in range(card.review) %}
                                        <i class="bi bi-star-fill text-warning"></i>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}